 #head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 200px;
}

#navigate{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 60px;
}

#s1 main {
    display: flex;
    flex-direction: column;
    align-content: center;
}

main{
    display: flex;
    flex-wrap: wrap;
}

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
}

aside{
    float: right;
}


#head{

       animation: anim 1s ease 0s infinite normal forwards;
 
}

@keyframes anim {

    0% {

        color: black;

    }

    100% {

           color: transparent;

    }

}

#head {
background-image: url("../image/204398-OZ3P4A-964.png");
}

h1{
    color: #003395;
    }

#head p{
font-weight: bold;
}
#navigate {
    background-color: #003395;
}

.menu:hover{
    text-decoration: none;
    padding: 15px;
    transition: 1s linear;
    transform: scale(1.0);
    color: white ;
}

.menu{
    color: black;
    text-decoration: none;
    margin-right: 40px;
    }

h2{
    color: #003395;
    text-decoration-line: overline underline;
}

footer{
    background: linear-gradient(180deg, #003395 0%, #00205F 100%);
    color: white;
}